body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background: black;
    padding: 20px;
    text-align: center;
}
section {
  background: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

div {
  background: orange;
  margin: auto;
  width: 300px;
  height: 500px;
  text-align: center;
}

img {
  width:200px;
  height:170px;
}
section.feature-box {
  background: white;
  color: black;
  padding: 20px;
  display: ;
  flex-direction: row;
}

div.feature-box {
  background: orange;
  margin: auto;
  width: 1000px;
  height: 500px;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 20px
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  background: black;
  padding: 5px 20px;
}
